/* layout default */
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

-webkit-tap-highlight-color {
  color: transparent;
}

li {
  list-style: none;
}

.blue {
  color: #26a2ff;
}

.grey {
  color: #666;
}

.content-wrapper {
  padding: 50px 15px;
  color: #666;
}

.mint-button {
  outline: none !important;
}
.mint-button:focus {
  outline: none !important;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}
