@font-face {
  font-family: 'mt';  /* project id 1687231 */
  src: url('//at.alicdn.com/t/font_1687231_4y22g952ur7.eot');
  src: url('//at.alicdn.com/t/font_1687231_4y22g952ur7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1687231_4y22g952ur7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1687231_4y22g952ur7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1687231_4y22g952ur7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1687231_4y22g952ur7.svg#mt') format('svg');
}

.mt-icon {
  font-family: "mt";
}

.mt-lg {
  font-size: 1.5em;
}
