<template>
  <div>
    <mt-header fixed title="剧集">
      <nuxt-link to="/" slot="left">
        <mt-button icon="back"></mt-button>
      </nuxt-link>
    </mt-header>
    <div class="content-wrapper">功能正在开发中.....</div>
  </div>
</template>
<script>
export default {};
</script>
